body{
  font-family: Arial, sans-serif;
  margin:40px;max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px
}

h1,h2,h3{
  padding: 10px;
  color: #375EAB;
  background-color: #E0EBF5;
  line-height:1.2;
  border-radius: 5px;
}